body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100%;
    background: #ffff;
    margin: 0;
    padding: 0;
}

h2 {
    color: #311ae0;
    font-weight: 700;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    text-transform: lowercase;
}

h2:after {
    content: '';
    width: 50px;
    height: 3px;
    background: #311ge0;
    display: block;
    margin: 15px auto;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

h2:hover:after {
    width: 100px;
}

h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
}


/* SCROLL TO TOP ARROW */

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(64, 424, 208, 0.8);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 999;
}

#return-to-top span {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(12, 224, 208, 1);
}

#return-to-top:hover span {
    color: #fff;
    top: 5px;
}


/* END SCROLL TO TOP ARROW */
.Kiev {
    color: Green;
    font-family: roboto;
    font-weight: strong;
}

/* START PRELOADER */

#preloader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2b85e5;
    z-index: 99;
    height: 100%;
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(http://marinamarques.pt/img/preloader.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}


/* END PRELOADER */

.fa-code {
    color: #311ae0;
    size: 60px;
}
/* start header */

.navbar-fixed-top {
    background-color: #2b55e5;
}

.navbar-brand {
    padding: 0px 15px;
    height: 56px;
    margin-left: 0;
}

.navbar {
    margin-bottom: 0px;
    border: none;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: #2b85e5;
}

.navbar-inverse .navbar-toggle {
    border: none;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border: none;
}

.navbar-toggle .icon-bar {
    width: 35px;
    height: 5px
}

#ResponsiveNav li a {
    font-size: 16px;
    color: #311ae0;
    font-weight: 700;
    display: inline-block;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    -webkit-transition: all .40s ease-in-out;
    transition: all .40s ease-in-out;
    font-family: 'Roboto', sans-serif;
    text-transform: lowercase;
}

#ResponsiveNav li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 3px;
    background: #311ae0;
    -webkit-transition: .35s;
    transition: .35s;
}

#ResponsiveNav li a:hover {
    color: #000;
}

#ResponsiveNav ul li a:hover:after,
#ResponsiveNav ul li a:focus:after,
#ResponsiveNav ul li a:active:after {
    width: 70%;
}

button.navbar-toggle.collapsed {
    background-color: #2b85e5;
    border: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #2b85e5;
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}


/*/ start hamburger menu desktop overwrite bootstrap /*/

.navbar-header {
    float: none;
}

.navbar-toggle {
    display: block;
}

.navbar-collapse.collapse {
    display: none!important;
}

.navbar-nav {
    float: none!important;
}

.navbar-nav>li {
    float: none;
}

.navbar-collapse.collapse.in {
    display: block !important;
}


/*/ end hamburger menu desktop overwrite bootstrap /*/


/*/ start intro /*/

.intro {
    display: table;
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
    background: url(../image/home-office-336377_1920.jpg) no-repeat top center scroll;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
    padding: 15% 0;
    background: rgba(0, 0, 0, 0.5);
}

.brand-heading {
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: left;
    color: #2b85e5;
}

.intro .intro-body .intro-text {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

span.city {
    background-color: #000;
    color: #2b85e5;
    border-radius: 4px;
    width: 15px;
}

@media (min-width: 768px) {
    .intro {
        height: 100%;
        padding: 0;
    }
    .intro .intro-body .brand-heading {
        font-size: 130px;
    }
    .intro .intro-body .intro-text {
        font-size: 35px;
    }
}

.mouse-warp {
    margin: 40px auto;
    display: block;
    width: 28px;
    opacity: 0.5;
}

.mouse {
    width: 28px;
    height: 50px;
    border: 2px solid #2b85e5;
    border-radius: 14px;
}

.scroll {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background: #2b85e5;
    position: relative;
    left: 10px;
    -webkit-animation: scrolls 1.3s ease-out infinite;
}

@-webkit-keyframes scrolls {
    0% {
        top: 8px;
        opacity: 0;
        -webkit-transform: scaleY(1) scaleX(1);
    }
    5% {
        top: 8px;
        opacity: 0.8;
        -webkit-transform: scaleY(1.2) scaleX(1.2);
    }
    10% {
        top: 8px;
        opacity: 1;
        -webkit-transform: scaleY(1.6) scaleX(1.6);
    }
    15% {
        top: 8px;
        opacity: 1;
        -webkit-transform: scaleY(1.2) scaleX(1.2);
    }
    20% {
        top: 8px;
        opacity: 1;
        -webkit-transform: scaleY(1.2) scaleX(1.2);
    }
    30% {
        top: 15px;
        opacity: 1;
        -webkit-transform: scaleY(1.2) scaleX(1.2);
    }
    100% {
        top: 30px;
        opacity: 0;
        -webkit-transform: scaleY(1.2) scaleX(0.8);
    }
}


/* End Scroll Down Indicator */


/*/ end intro /*/




#about-me {
    margin-top: 20px;
}

#about-me h2 {
    font-weight: 700;
    margin-top: 22px;
    padding-bottom: 10px;
    text-align: center;
}

.about-intro-text p {
    float: right;
}

.about-intro-text span {
    color: #311ae0;
    font-weight: 700;
}

.about-intro-text .fa-beer {
    color: #311ae0;
    font-size: 20px;
}

.button-group {
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: #2b85e5;
}

.text {
    background: #2b85e5;
    color: #fff;
    font-size: 18px;
    height: 50px;
    padding: 0 55px;
    line-height: 60px;
}

.icon-cv {
    font-size: 30px;
    width: 50px;
    height: 50px;
    line-height: 40px;
    box-sizing: border-box;
    border: 4px solid #1BEFEC;
    border-left: none;
    -webkit-transition: 600ms -webkit-transform ease-in-out;
    transition: 600ms -webkit-transform ease-in-out;
    transition: 600ms transform ease-in-out;
    transition: 600ms transform ease-in-out, 600ms -webkit-transform ease-in-out;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    -webkit-transform-origin: left;
    transform-origin: left;
    color: #311ae0;
    background: #fff;
    text-align: center;
}

a .fa-arrow-circle-down {
    color: #311ae0;
}

.button-group:hover .icon-cv {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.button-group {
    -webkit-perspective: 200px;
    perspective: 200px;
    -webkit-perspective-origin: calc(100% - 50px);
    perspective-origin: calc(100% - 50px);
    margin-top: 5%;
}

.about-inner {
    position: relative;
    padding: 0;
    overflow: hidden;
}

.about-inner>img {
    display: block;
    min-width: 100%;
    height: auto;
}

.about-ct .textbox-about {
    width: 100%;
    height: 100%;
    display: responsive;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.about-ct:hover .textbox-about {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.textbox-about {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

div.button-social {
    border: 2px solid #fff;
    padding: 12px 18px;
    -webkit-transition: all .35s;
    transition: all .35s;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    margin-top: 25px;
    font-size: 18px;
    color: #fff;
    margin: 5% 5%;
}

div.button-social a {
    color: #fff;
    font-size: 18px;
    margin: 15px;
}

div.button-social a:hover {
    color: #2b85e5;
}

.button-group:focus,
.icon-cv:focus,
.text:focus {
    outline: 0;
}





/*/ end about /*/


/*/ start about work experience /*/



/*/ end about work experience /*/


/*/ end about /*/





/*/ end services /*/


/*/ start testimionals /*/

#testimionals {
    margin-top: 20px;
    width: 100%;
    height: auto;
    text-align: center;
}

#testimionals h2 {
    font-weight: 700;
    color: #fff;
    margin-top: 22px;
    padding-bottom: 10px;
    text-align: center;
}

.testimionals-bg {
    width: 100%;
    height: auto;
    background: url(../image/home-office-336377_1920.jpg) no-repeat top center scroll;
    background-size: cover;
    -o-background-size: cover;
}

.testimionals-bg-opacity {
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.5);
}

.quotes {
    color: #fff;
    font-size: 60px;
}

.client {
    font-size: 16px;
    font-style: italic;
}

.carousel-caption {
    position: static;
    /*/ this is to replace the images of bootstrap slider /*/
    font-size: 18px;
    color: #fff;
    min-height: 200px;
}

.carousel-control.left,
.carousel-control.right {
    background: none;
}


/*/ end testimionals /*/


/*/ start contact /*/

footer {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

#contact h2 {
    font-weight: 700;
    margin-top: 22px;
    padding-bottom: 10px;
    text-align: center;
}

footer p {
    margin-top: 50px;
}

.social,
footer a {
    font-size: 30px;
    color: #000;
    margin: 10px;
}

footer a:hover,
footer a:after,
footer a:visited footer a:focus {
    color: #000;
}

#copyright {
    margin-top: 25px;
    font-size: 14px;
    font-weight: strong;
}
.text-justifay{
    text-align: justify;
}


/*/ end contact /*/


/*/ media queries /*/

@media only screen and (max-width: 480px) {
    .brand-heading {
        font-size: 85px;
        margin-top: 10%;
        color: #2b85e5;
    }
    .col-exp {
        margin-top: 15%;
    }
    .timeline .timeline-experience {
        margin-left: 20px;
        padding-left: 20px;
    }
    .timeline time {
        width: 40px;
    }
    .services-item {
        margin-bottom: 15%;
        color: #0003ce;
    }
}